<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>Cadastro de Usuário</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div style="display: flex; gap: 20px;">
      <mat-form-field class="example-form-field">
        <mat-label>Digite seu nome</mat-label>
        <input matInput type="text" [(ngModel)]="nome" />
        <button *ngIf="nome" matSuffix mat-icon-button aria-label="Clear" (click)="nome=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="example-form-field">
        <mat-label>Digite seu CPF</mat-label>
        <input matInput type="text" [(ngModel)]="cpf" />
        <button *ngIf="cpf" matSuffix mat-icon-button aria-label="Clear" (click)="cpf=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div style="display: flex; gap: 10px;">
      <button mat-flat-button color="primary" (click)="saveUser()">Salvar</button>
      <button mat-raised-button color="warn" (click)="nome=''; cpf=''">Cancelar</button>
    </div>
  </mat-card-actions>
</mat-card>
