.example-card {
  max-width: 600px; /* Adjust as needed */
  margin-top: 100px; /* Add top margin */
  margin-left: auto; /* Center the card horizontally */
  margin-right: auto; /* Center the card horizontally */
  display: flex; /* Enable flexbox for image centering */
  flex-direction: column; /* Stack content vertically */
  align-items: center; /* Center content horizontally within the card */
}



.example-card img {
  /* Remove inline styles to avoid conflicts */
  width: 100%; /* Make image fill available width */
  object-fit: cover; /* Maintain aspect ratio and scale to fit */
}

.example-form-field {
  width: 200px;
}

/*Linhas do formulário*/
.form-row {
  display: flex;
  margin-bottom: 10px;
}

/*Retorno da mensagem para o usuário*/
.snack-success {
  background-color: #4caf50;  // Cor verde para sucesso
  color: white;
}

.snack-error {
  background-color: #f44336;  // Cor vermelha para erro
  color: white;
}

